.addIssue {
	cursor: pointer;
}

.hover {
	cursor: pointer;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}

#toast-container .toast {
    cursor: pointer;
}

.lockParent {
	fill: "yellow";
}

.buttns{
	margin-top: 15px;
	
}

.thbtns{
	margin-right: 15px;
}

.brand-logo{
	margin-left: 20px;
}

/* Reduce the max height of the autocomplete dropdown so as not to cause double scrollbars */
.dropdown-content {
  max-height: 248px;
}